<launch>
    <node pkg="gs_simulation" type="simulation_node.py" name="simulation_node">
        <param name="start_x" value="1.4"/>
        <param name="start_y" value="3.45"/>
        <param name="start_z" value="0.8"/>
    </node>
    <node pkg="gs_simulation" type="simple_visualization_node.py" name="simple_visualization_node"/>
    <node pkg="gs_simulation" type="object_visualization_node.py" name="object_visualization_node"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find gs_simulation)/rviz/pioneer-sim.rviz"/>
</launch>